@model LibraryManagement.Models.BookBorrower

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookBorrower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CardNo" />
            <div class="form-group">
                <label asp-for="BName" class="control-label"></label>
                <input asp-for="BName" class="form-control" />
                <span asp-validation-for="BName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BEmail" class="control-label"></label>
                <input asp-for="BEmail" class="form-control" />
                <span asp-validation-for="BEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BAddress" class="control-label"></label>
                <input asp-for="BAddress" class="form-control" />
                <span asp-validation-for="BAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BooksIssued" class="control-label"></label>
                <input asp-for="BooksIssued" class="form-control" />
                <span asp-validation-for="BooksIssued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
